{% extends 'SwedJBundle:Bank:base.html.twig' %}
{% block title %}Main{% endblock %}
{% block body %}
<!-- Home -->
  <div data-role="page" id="page1">
    <div data-theme="b" data-role="header">
        <span class="ui-title">
        </span>
        <a data-role="button" href="/business" class="ui-btn-right">
            Business
        </a>
    </div>
    <div data-role="content">
        <a data-role="button" href="#">
            Profile
        </a>
        <a data-role="button" href="#">
            Payments
        </a>
        <a data-role="button" href="#">
            Credit cards
        </a>
        <a data-role="button" href="#">
            Exchange rates
        </a>
        <a data-role="button" href="#">
            Send id number
        </a>
        <a data-role="button" href="#">
            Map
        </a>
        <a data-role="button" href="#">
            Useless button
        </a>
    </div>
  </div>